.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgb(51, 51, 51);
  color: rgb(218, 191, 102);
  padding: 5%;
  border-style: dashed
}